 .u-section-1 {
  min-height: 1672px;
}

.u-section-1 .u-image-1 {
  height: 521px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1115px;
  margin: -47px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 15px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px 23px;
}

.u-section-1 .u-icon-3 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 3px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 989px;
  min-height: 981px;
  margin: -26px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 39px auto 0 40px;
}

.u-section-1 .u-text-5 {
  margin: 49px 0 0 40px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1813px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2347px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 2;
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    order: 1;
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2363px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: auto;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 3;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 1180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 1551px;
  }
}