.u-section-1 .u-sheet-1 {
  min-height: 107px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 20px 20px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
} .u-section-2 {
  min-height: 1672px;
}

.u-section-2 .u-image-1 {
  height: 521px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1052px;
  margin: -50px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 242px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 15px auto 0;
  padding: 13px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 242px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 15px auto 0;
  padding: 13px;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 242px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px 23px;
}

.u-section-2 .u-icon-3 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 15px auto 0;
  padding: 13px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 242px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  width: 88px;
  background-image: none;
  height: 88px;
  color: rgb(0, 0, 0) !important;
  margin: 11px auto 0;
  padding: 13px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 15px 5px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 989px;
  min-height: 981px;
  margin: -23px auto 1px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-text-5 {
  margin: 39px auto 0 40px;
}

.u-section-2 .u-text-6 {
  margin: 49px 0 0 40px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  margin-top: 0;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1646px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 216px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 216px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1530px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 2;
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 1;
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1730px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 3;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}