 .u-section-1 {
  min-height: 552px;
}

.u-section-1 .u-image-1 {
  height: 389px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 16px calc(((100% - 1140px) / 2) + 959px) 0 calc(((100% - 1140px) / 2) + -43px);
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 16px calc(((100% - 1140px) / 2) + 999px) 60px calc(((100% - 1140px) / 2) + -43px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 743px);
    margin-left: calc(((100% - 940px) / 2) + -43px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 899px);
    margin-left: calc(((100% - 940px) / 2) + -43px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 520px);
    margin-left: calc(((100% - 720px) / 2) + -43px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 679px);
    margin-left: calc(((100% - 720px) / 2) + -43px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 355px);
    margin-left: calc(((100% - 540px) / 2) + -43px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 499px);
    margin-left: calc(((100% - 540px) / 2) + -43px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: calc(((100% - 340px) / 2) + 114px);
    margin-left: calc(((100% - 340px) / 2) + -17px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: calc(((100% - 340px) / 2) + 273px);
    margin-left: calc(((100% - 340px) / 2) + -17px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 38px;
}