 .u-section-1 {
  min-height: 2526px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 23px auto 0 calc(((100% - 1140px) / 2) + -39px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 389px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  width: 577px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 24px calc(((100% - 1140px) / 2) + 612px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-4 {
  margin: 9px calc(((100% - 1140px) / 2) + 195px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 6px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 35px calc(((100% - 1140px) / 2) + 185px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-6 {
  margin: 10px calc(((100% - 1140px) / 2) + 58px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 38px calc(((100% - 1140px) / 2) + 182px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-1 .u-text-8 {
  margin: 10px calc(((100% - 1140px) / 2) + 512px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -164px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 72px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -263px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 266px calc(((100% - 1140px) / 2) + 185px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-10 {
  margin: 26px calc(((100% - 1140px) / 2) + 612px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-11 {
  margin: 9px calc(((100% - 1140px) / 2) + 407px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -223px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 134px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -212px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 210px calc(((100% - 1140px) / 2) + 167px) 0 calc(((100% - 1140px) / 2) + 38px);
}

.u-section-1 .u-text-13 {
  margin: 29px calc(((100% - 1140px) / 2) + 494px) 0 calc(((100% - 1140px) / 2) + 38px);
}

.u-section-1 .u-text-14 {
  margin: 13px calc(((100% - 1140px) / 2) + 195px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -132px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -213px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 276px auto 60px calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-8 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-10 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-11 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-12 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-13 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-14 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-15 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-16 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-17 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-18 {
    font-size: 0.9375rem;
  }

  .u-section-1 .u-btn-19 {
    font-size: 0.9375rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: calc(((100% - 940px) / 2) + -39px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 432px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 15px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: 31px;
    margin-right: calc(((100% - 940px) / 2) + 5px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 29px;
    margin-right: calc(((100% - 940px) / 2) + 57px);
    margin-left: calc(((100% - 940px) / 2) + -2px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 11px;
    margin-right: calc(((100% - 940px) / 2) + 332px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-top: -162px;
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-btn-7 {
    margin-top: -40px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-top: -267px;
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-top: 270px;
    margin-right: calc(((100% - 940px) / 2) + 5px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 432px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 227px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2) + 5px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 332px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2) + 15px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-left: calc(((100% - 940px) / 2) + 169px);
  }

  .u-section-1 .u-btn-17 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-left: calc(((100% - 940px) / 2) + 169px);
  }

  .u-section-1 .u-btn-19 {
    margin-top: 277px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: calc(((100% - 720px) / 2) + -39px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 212px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-top: 27px;
    margin-right: calc(((100% - 720px) / 2) + -2px);
    margin-left: calc(((100% - 720px) / 2) + 2px);
  }

  .u-section-1 .u-text-8 {
    margin-top: 10px;
    margin-right: calc(((100% - 720px) / 2) + 112px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-top: -164px;
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-btn-7 {
    margin-top: -39px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 212px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2) + 7px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-text-12 {
    margin-top: 211px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 91px;
    margin-right: calc(((100% - 720px) / 2) + 112px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 10px;
    margin-right: calc(((100% - 720px) / 2) + -2px);
    margin-left: calc(((100% - 720px) / 2) + 2px);
  }

  .u-section-1 .u-btn-15 {
    margin-top: -133px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-btn-17 {
    margin-top: -246px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-btn-19 {
    margin-top: 310px;
    margin-bottom: 29px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2950px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: calc(((100% - 540px) / 2) + -44px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 32px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + -3px);
    margin-left: calc(((100% - 540px) / 2) + 3px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-top: -322px;
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-top: 325px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + 32px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-top: -280px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-top: 191px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-14 {
    margin-top: -269px;
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 268px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + -2px);
    margin-left: calc(((100% - 540px) / 2) + 2px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + -2px);
    margin-left: calc(((100% - 540px) / 2) + 2px);
  }

  .u-section-1 .u-btn-15 {
    margin-top: -193px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-17 {
    margin-top: -270px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 540px) / 2) + 144px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 394px;
    margin-left: calc(((100% - 540px) / 2) + -1px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3364px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: -22px;
    margin-left: calc(((100% - 340px) / 2) + -22px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-top: -221px;
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-top: 130px;
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-top: -382px;
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-top: 384px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-top: -360px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 269px;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-btn-14 {
    margin-top: -347px;
    margin-right: auto;
    margin-left: 181px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
    margin-top: 348px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2) + -16px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-15 {
    margin-top: -227px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-16 {
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-btn-17 {
    margin-top: -310px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-18 {
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-btn-19 {
    margin-top: 468px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1330px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 23px 170px 0 35px;
}

.u-section-2 .u-text-2 {
  margin: 10px 281px 0 35px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -216px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -215px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-3 {
  margin: 330px 590px 0 35px;
}

.u-section-2 .u-text-4 {
  margin: 12px 170px 0 35px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -48px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -40px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -297px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 75px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 192px 170px 60px 35px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-3 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-4 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-5 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-6 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-7 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-8 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-9 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-btn-10 {
    font-size: 0.9375rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 116px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -222px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 167px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -209px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 167px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 323px;
    margin-right: 425px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -45px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -39px;
    margin-left: 175px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -298px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 175px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 175px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 180px;
    margin-right: 0;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 175px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -241px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 175px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 384px;
    margin-right: 205px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -55px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -383px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 133px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 226px;
    margin-left: 0;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -246px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -268px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 159px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 435px;
    margin-right: 25px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -409px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 132px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2210px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -334px;
    margin-left: -15px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: -12px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -361px;
    margin-left: -15px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 616px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: -15px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: -12px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -547px;
    margin-left: -14px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: auto;
    margin-left: 131px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 185px;
    margin-left: -14px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: auto;
    margin-left: 131px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 338px;
    margin-bottom: 24px;
  }
}