 .u-section-1 {
  min-height: 552px;
}

.u-section-1 .u-image-1 {
  height: 389px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 16px calc(((100% - 1140px) / 2) + 1006px) 0 calc(((100% - 1140px) / 2) + -50px);
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 17px calc(((100% - 1140px) / 2) + 1004px) 60px calc(((100% - 1140px) / 2) + -48px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 851px);
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: calc(((100% - 940px) / 2) + 906px);
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 631px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 720px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 451px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 540px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 19px;
    margin-right: calc(((100% - 340px) / 2) + 221px);
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: calc(((100% - 340px) / 2) + 311px);
    margin-left: calc(((100% - 340px) / 2) + -19px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 38px;
}