 .u-section-1 {
  min-height: 1095px;
}

.u-section-1 .u-image-1 {
  height: 539px;
  margin-top: -104px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 577px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -15px calc(((100% - 1140px) / 2) + 542px) 60px calc(((100% - 1140px) / 2) + 20px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 362px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 142px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}