 .u-section-1 {
  min-height: 2358px;
}

.u-section-1 .u-image-1 {
  height: 389px;
  margin-top: 148px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 577px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 10px calc(((100% - 1140px) / 2) + 822px) 0 calc(((100% - 1140px) / 2) + 27px);
}

.u-section-1 .u-text-3 {
  margin: 0 calc(((100% - 1140px) / 2) + 406px) 0 calc(((100% - 1140px) / 2) + 27px);
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 40px calc(((100% - 1140px) / 2) + 882px) 0 calc(((100% - 1140px) / 2) + 27px);
}

.u-section-1 .u-text-5 {
  margin: 0 calc(((100% - 1140px) / 2) + 406px) 60px calc(((100% - 1140px) / 2) + 27px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 649px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 233px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 709px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 233px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 429px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 489px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 309px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 109px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}