.u-section-1 .u-sheet-1 {
  min-height: 26px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 0 auto 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
} .u-section-2 {
  min-height: 4650px;
}

.u-section-2 .u-image-1 {
  height: 389px;
  margin-top: 6px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: 577px;
  margin: 15px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 calc(((100% - 1140px) / 2) + 551px) 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-2 .u-text-3 {
  margin: 9px calc(((100% - 1140px) / 2) + 134px) 0 calc(((100% - 1140px) / 2) + 81px);
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -52px auto 0 calc(((100% - 1140px) / 2) + 398px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 16px calc(((100% - 1140px) / 2) + 121px) 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-2 .u-text-5 {
  margin: 10px calc(((100% - 1140px) / 2) + 451px) 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -653px auto 0 calc(((100% - 1140px) / 2) + 18px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 535px auto 0 calc(((100% - 1140px) / 2) + 18px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -151px auto 0 calc(((100% - 1140px) / 2) + 17px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -360px auto 0 calc(((100% - 1140px) / 2) + 18px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 106px auto 0 calc(((100% - 1140px) / 2) + 18px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 350px calc(((100% - 1140px) / 2) + -111px) 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 81px calc(((100% - 1140px) / 2) + 118px) 0 calc(((100% - 1140px) / 2) + 17px);
}

.u-section-2 .u-text-8 {
  margin: 23px calc(((100% - 1140px) / 2)  + 451px) 0 calc(((100% - 1140px) / 2)  + 11px);
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -51px auto 0 calc(((100% - 1140px) / 2)  + 14px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -311px auto 0 calc(((100% - 1140px) / 2) + 11px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -206px auto 0 calc(((100% - 1140px) / 2) + 14px);
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 460px calc(((100% - 1140px) / 2) + -111px) 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  margin: 97px calc(((100% - 1140px) / 2) + 129px) 0 calc(((100% - 1140px) / 2) + 6px);
}

.u-section-2 .u-text-11 {
  margin: 10px calc(((100% - 1140px) / 2) + 462px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -50px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-11 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -207px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-12 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -159px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-13 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -210px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  margin: 491px calc(((100% - 1140px) / 2) + 135px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 10px calc(((100% - 1140px) / 2) + 462px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-14 {
  font-size: 1rem;
  margin: 32px calc(((100% - 1140px) / 2) + 129px) 0 calc(((100% - 1140px) / 2) + 6px);
}

.u-section-2 .u-text-15 {
  margin: 19px calc(((100% - 1140px) / 2) + 462px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-btn-14 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -281px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-15 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: -180px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-16 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 247px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-17 {
  border-style: solid;
  font-size: 1rem;
  font-weight: 700;
  margin: 81px auto 0 calc(((100% - 1140px) / 2));
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  margin: 38px calc(((100% - 1140px) / 2)  + 420px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 149px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -129px);
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -143px);
    margin-left: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -51px;
    margin-left: calc(((100% - 940px) / 2) + 357px);
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-right: calc(((100% - 940px) / 2) + -29px);
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 233px);
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-btn-2 {
    margin-top: -652px;
    margin-left: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-btn-5 {
    margin-left: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-btn-6 {
    margin-top: 114px;
    margin-left: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 341px;
    margin-right: calc(((100% - 940px) / 2) + -29px);
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -29px);
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 233px);
    margin-left: calc(((100% - 940px) / 2)  + 29px);
  }

  .u-section-2 .u-btn-7 {
    margin-left: calc(((100% - 940px) / 2)  + 29px);
  }

  .u-section-2 .u-btn-8 {
    margin-top: -310px;
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-btn-9 {
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 468px;
    margin-right: calc(((100% - 940px) / 2) + -36px);
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -29px);
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 226px);
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -52px;
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-btn-11 {
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-btn-12 {
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-btn-13 {
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 493px;
    margin-right: calc(((100% - 940px) / 2) + -20px);
    margin-left: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 226px);
    margin-left: calc(((100% - 940px) / 2) + 36px);
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + -20px);
    margin-left: calc(((100% - 940px) / 2) + 20px);
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 228px);
    margin-left: calc(((100% - 940px) / 2) + 34px);
  }

  .u-section-2 .u-btn-14 {
    margin-top: -277px;
    margin-left: calc(((100% - 940px) / 2) + 34px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: -185px;
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-btn-17 {
    margin-left: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 40px;
    margin-right: calc(((100% - 940px) / 2)  + 186px);
    margin-left: calc(((100% - 940px) / 2)  + 34px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 147px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-1 {
    margin-top: -52px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 16px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 42px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-top: 116px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-top: 339px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 71px;
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -63px;
    margin-left: calc(((100% - 720px) / 2)  + 21px);
  }

  .u-section-2 .u-btn-8 {
    margin-top: -283px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: -180px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-text-9 {
    margin-top: 379px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -50px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: -172px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-btn-12 {
    margin-top: -164px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: -187px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-text-12 {
    margin-top: 438px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 20px;
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -264px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: -151px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-btn-16 {
    margin-top: 199px;
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-btn-17 {
    margin-left: calc(((100% - 720px) / 2) + 21px);
  }

  .u-section-2 .u-text-16 {
    margin-top: 41px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 4886px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -65px;
    margin-right: calc(((100% - 540px) / 2) + 154px);
  }

  .u-section-2 .u-text-4 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -653px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-3 {
    margin-top: 536px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-top: -159px;
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: -343px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-top: 92px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-top: 355px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 95px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-8 {
    margin-top: -351px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-9 {
    margin-top: -206px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-top: 398px;
    margin-right: calc(((100% - 540px) / 2) + -100px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2) + -100px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-11 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -53px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-11 {
    margin-top: -206px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-top: -156px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-13 {
    margin-top: -206px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-12 {
    margin-top: 486px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2) + -100px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-15 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -331px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-15 {
    margin-top: -163px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-top: 281px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-17 {
    margin-top: 78px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-16 {
    margin-right: calc(((100% - 540px) / 2)  + -100px);
    margin-bottom: 39px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 5930px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 149px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -63px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -909px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-3 {
    margin-top: 792px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-top: -175px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-5 {
    margin-top: -528px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-top: 189px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-6 {
    width: 340px;
    margin-top: 481px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -52px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-8 {
    margin-top: -394px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-9 {
    margin-top: -273px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-9 {
    width: 340px;
    margin-top: 612px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2) + -34px);
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-11 {
    margin-top: -267px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-top: -210px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-13 {
    margin-top: -295px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-12 {
    margin-top: 690px;
    margin-right: calc(((100% - 340px) / 2) + -79px);
    margin-left: calc(((100% - 340px) / 2) + -21px);
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2) + -6px);
  }

  .u-section-2 .u-text-14 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-15 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -3253px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-15 {
    margin-top: 2593px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-top: 393px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-17 {
    margin-top: 132px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-16 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
  }
}