.u-section-1 .u-sheet-1 {
  min-height: 31px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 0 858px 5px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    margin-right: 678px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 258px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 52px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 1px;
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 4741px;
}

.u-section-2 .u-image-1 {
  height: 607px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 14px calc(((100% - 1320px) / 2)  + 356px) 0 calc(((100% - 1320px) / 2)  + 372px);
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 calc(((100% - 1320px) / 2)  + 33px);
}

.u-section-2 .u-icon-1 {
  font-size: 1.625em;
}

.u-section-2 .u-icon-3 {
  font-size: 1.8126em;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: -3554px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: 90px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 260px);
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 134px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-8 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-9 {
  background-image: none;
  margin: -48px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-10 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-11 {
  background-image: none;
  margin: 62px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-12 {
  background-image: none;
  margin: -43px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-13 {
  background-image: none;
  margin: 926px auto 0 calc(((100% - 1320px) / 2)  + 69px);
}

.u-section-2 .u-btn-14 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 258px);
}

.u-section-2 .u-btn-15 {
  background-image: none;
  margin: -1011px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-16 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-17 {
  background-image: none;
  margin: 184px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-18 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 260px);
}

.u-section-2 .u-btn-19 {
  background-image: none;
  margin: 165px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-20 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 258px);
}

.u-section-2 .u-btn-21 {
  background-image: none;
  margin: 294px auto 0 calc(((100% - 1320px) / 2)  + 69px);
}

.u-section-2 .u-btn-22 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-23 {
  background-image: none;
  margin: -281px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-24 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 258px);
}

.u-section-2 .u-btn-25 {
  background-image: none;
  margin: 575px auto 0 calc(((100% - 1320px) / 2)  + 69px);
}

.u-section-2 .u-btn-26 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 267px);
}

.u-section-2 .u-btn-27 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 69px);
}

.u-section-2 .u-btn-28 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 267px);
}

.u-section-2 .u-btn-29 {
  background-image: none;
  margin: 984px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-30 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-31 {
  background-image: none;
  margin: 159px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-32 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-33 {
  background-image: none;
  margin: 138px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-34 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 274px);
}

.u-section-2 .u-btn-35 {
  background-image: none;
  margin: 215px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-36 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-37 {
  background-image: none;
  margin: -175px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-38 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 273px);
}

.u-section-2 .u-btn-39 {
  background-image: none;
  margin: -453px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-40 {
  background-image: none;
  margin: -42px auto 60px calc(((100% - 1320px) / 2)  + 275px);
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 4684px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 266px);
    margin-left: calc(((100% - 1140px) / 2) + 282px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 33px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -3582px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: 94px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 130px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-6 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 63px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-8 {
    margin-top: -41px;
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 66px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: 174px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-12 {
    margin-top: -42px;
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: 909px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-14 {
    margin-top: -39px;
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: -892px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 64px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 83px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-21 {
    margin-top: 684px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-23 {
    margin-top: -539px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-25 {
    margin-top: 63px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-27 {
    margin-top: 64px;
    margin-left: calc(((100% - 1140px) / 2)  + 58px);
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 1140px) / 2)  + 258px);
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1250px;
    margin-left: calc(((100% - 1140px) / 2)  + 69px);
  }

  .u-section-2 .u-btn-30 {
    margin-top: -36px;
    margin-left: calc(((100% - 1140px) / 2)  + 269px);
  }

  .u-section-2 .u-btn-31 {
    margin-top: 65px;
    margin-left: calc(((100% - 1140px) / 2)  + 69px);
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 1140px) / 2)  + 269px);
  }

  .u-section-2 .u-btn-33 {
    margin-top: 61px;
    margin-left: calc(((100% - 1140px) / 2)  + 69px);
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 1140px) / 2)  + 269px);
  }

  .u-section-2 .u-btn-35 {
    margin-top: 137px;
    margin-left: calc(((100% - 1140px) / 2)  + 69px);
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 1140px) / 2)  + 269px);
  }

  .u-section-2 .u-btn-37 {
    margin-top: 83px;
    margin-left: calc(((100% - 1140px) / 2)  + 69px);
  }

  .u-section-2 .u-btn-38 {
    margin-left: calc(((100% - 1140px) / 2)  + 269px);
  }

  .u-section-2 .u-btn-39 {
    margin-top: 87px;
    margin-left: calc(((100% - 1140px) / 2)  + 69px);
  }

  .u-section-2 .u-btn-40 {
    margin-left: calc(((100% - 1140px) / 2)  + 269px);
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 4720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 166px);
    margin-left: calc(((100% - 940px) / 2) + 182px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -3606px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: 88px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 133px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 61px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-8 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 63px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: 188px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-12 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: 901px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-14 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: -886px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 63px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 92px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-21 {
    margin-top: 667px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-23 {
    margin-top: -529px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-25 {
    margin-top: 58px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-27 {
    margin-top: 61px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1267px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-30 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-31 {
    margin-top: 58px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-33 {
    margin-top: 58px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-35 {
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-37 {
    margin-top: 117px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-38 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-btn-39 {
    margin-top: 82px;
    margin-left: calc(((100% - 940px) / 2)  + 76px);
  }

  .u-section-2 .u-btn-40 {
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 5067px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 56px);
    margin-left: calc(((100% - 720px) / 2) + 72px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 33px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -3940px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 115px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 137px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-6 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 59px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-8 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 65px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-10 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 181px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-12 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 989px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-14 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -970px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-16 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 92px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-18 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-19 {
    margin-top: 82px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-20 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-21 {
    margin-top: 751px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-22 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-23 {
    margin-top: -578px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-24 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-25 {
    margin-top: 82px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-26 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-28 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1418px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-30 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-31 {
    margin-top: 85px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-32 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-33 {
    margin-top: 59px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-34 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-35 {
    margin-top: 161px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-36 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-37 {
    margin-top: 109px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-38 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-39 {
    margin-top: 110px;
    margin-left: calc(((100% - 720px) / 2)  + 65px);
  }

  .u-section-2 .u-btn-40 {
    margin-right: calc(((100% - 720px) / 2)  + 202px);
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 10142px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 33px);
  }

  .u-section-2 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-7 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-8 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-9 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-11 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-13 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-14 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-15 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-17 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-19 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-21 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-23 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-29 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-30 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-31 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-33 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-35 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-37 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-38 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }

  .u-section-2 .u-btn-39 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-40 {
    margin-right: calc(((100% - 540px) / 2) + 22px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 7053px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 33px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -5704px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 168px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 205px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 110px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 117px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 260px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 1346px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -1302px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 140px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-18 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-19 {
    margin-top: 162px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-20 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-21 {
    margin-top: 1010px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-22 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-23 {
    margin-top: -757px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-24 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-25 {
    margin-top: 129px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-26 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-27 {
    margin-top: 87px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-28 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-29 {
    margin-top: 2136px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-31 {
    margin-top: 137px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-32 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-33 {
    margin-top: 137px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-34 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-35 {
    margin-top: 240px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-36 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-37 {
    margin-top: 240px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-38 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-39 {
    margin-top: 185px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-40 {
    margin-right: 0;
    margin-bottom: 110px;
  }
}