.u-section-1 .u-sheet-1 {
  min-height: 108px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 0 858px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    margin-right: 678px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 107px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 4604px;
}

.u-section-2 .u-image-1 {
  height: 607px;
  margin-top: -45px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: 577px;
  margin: 14px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 calc(((100% - 1320px) / 2)  + 33px);
}

.u-section-2 .u-icon-1 {
  font-size: 1.625em;
}

.u-section-2 .u-icon-3 {
  font-size: 1.8126em;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: -3554px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 255px);
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: 89px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 255px);
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 134px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: 485px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-8 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 258px);
}

.u-section-2 .u-btn-9 {
  background-image: none;
  margin: -473px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-10 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-11 {
  background-image: none;
  margin: 932px auto 0 calc(((100% - 1320px) / 2)  + 69px);
}

.u-section-2 .u-btn-12 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-13 {
  background-image: none;
  margin: 55px auto 0 calc(((100% - 1320px) / 2)  + 73px);
}

.u-section-2 .u-btn-14 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 262px);
}

.u-section-2 .u-btn-15 {
  background-image: none;
  margin: -1011px auto 0 calc(((100% - 1320px) / 2)  + 78px);
}

.u-section-2 .u-btn-16 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 272px);
}

.u-section-2 .u-btn-17 {
  background-image: none;
  margin: 184px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-18 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 260px);
}

.u-section-2 .u-btn-19 {
  background-image: none;
  margin: 165px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-20 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 258px);
}

.u-section-2 .u-btn-21 {
  background-image: none;
  margin: 294px auto 0 calc(((100% - 1320px) / 2)  + 69px);
}

.u-section-2 .u-btn-22 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-23 {
  background-image: none;
  margin: -281px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-24 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 258px);
}

.u-section-2 .u-btn-25 {
  background-image: none;
  margin: 575px auto 0 calc(((100% - 1320px) / 2)  + 69px);
}

.u-section-2 .u-btn-26 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 267px);
}

.u-section-2 .u-btn-27 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 73px);
}

.u-section-2 .u-btn-28 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 267px);
}

.u-section-2 .u-btn-29 {
  background-image: none;
  margin: 984px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-30 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-31 {
  background-image: none;
  margin: 159px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-32 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-33 {
  background-image: none;
  margin: 138px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-34 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 274px);
}

.u-section-2 .u-btn-35 {
  background-image: none;
  margin: 215px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-36 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-37 {
  background-image: none;
  margin: -175px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-38 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 273px);
}

.u-section-2 .u-btn-39 {
  background-image: none;
  margin: -453px auto 0 calc(((100% - 1320px) / 2)  + 61px);
}

.u-section-2 .u-btn-40 {
  background-image: none;
  margin: -42px auto 60px calc(((100% - 1320px) / 2)  + 275px);
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 4723px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 16px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2)  + -59px);
    margin-left: calc(((100% - 1140px) / 2)  + -41px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -3581px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: 365px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 289px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-top: -41px;
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 62px;
    margin-left: calc(((100% - 1140px) / 2)  + 1px);
  }

  .u-section-2 .u-btn-8 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: -757px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: 1243px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-13 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-14 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: -1248px;
    margin-left: calc(((100% - 1140px) / 2)  + 1px);
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 158px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 393px;
    margin-left: calc(((100% - 1140px) / 2)  + 1px);
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-21 {
    margin-top: 322px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-23 {
    margin-top: -275px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-25 {
    margin-top: 570px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-27 {
    margin-top: 62px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 1140px) / 2)  + 202px);
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1082px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-30 {
    margin-left: calc(((100% - 1140px) / 2)  + 210px);
  }

  .u-section-2 .u-btn-31 {
    margin-top: 59px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-33 {
    margin-top: 136px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 1140px) / 2)  + 222px);
  }

  .u-section-2 .u-btn-35 {
    margin-top: 218px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 1140px) / 2)  + 222px);
  }

  .u-section-2 .u-btn-37 {
    margin-top: -173px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-38 {
    margin-left: calc(((100% - 1140px) / 2)  + 222px);
  }

  .u-section-2 .u-btn-39 {
    margin-top: -551px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-40 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 5100px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -129px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 764px;
    margin-left: calc(((100% - 940px) / 2)  + 182px);
    margin-right: calc(((100% - 940px) / 2)  + 182px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -462px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -2760px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 718px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-4 {
    margin-top: -41px;
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 59px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-6 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 485px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-8 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 267px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -44px;
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-12 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-13 {
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-14 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -1122px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 940px) / 2)  + 144px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 123px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-19 {
    margin-top: 110px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-21 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-23 {
    margin-top: 8px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-25 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1449px;
    margin-left: 190px;
  }

  .u-section-2 .u-btn-30 {
    margin-left: 407px;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -1369px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-top: 62px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-35 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-37 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-38 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-39 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-40 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 5180px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 59px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 50px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -3074px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-top: 86px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: 2032px;
    margin-left: calc(((100% - 720px) / 2)  + 26px);
  }

  .u-section-2 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2)  + 230px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 87px;
    margin-left: calc(((100% - 720px) / 2)  + 26px);
  }

  .u-section-2 .u-btn-6 {
    margin-top: -42px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 63px;
    margin-left: calc(((100% - 720px) / 2)  + 26px);
  }

  .u-section-2 .u-btn-8 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -1962px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-top: 84px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: 1957px;
    margin-left: calc(((100% - 720px) / 2)  + 19px);
  }

  .u-section-2 .u-btn-12 {
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 230px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: 111px;
    margin-left: calc(((100% - 720px) / 2)  + 19px);
  }

  .u-section-2 .u-btn-14 {
    margin-right: auto;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -3705px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 109px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 139px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-21 {
    margin-top: 55px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-23 {
    margin-top: 61px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-25 {
    margin-top: 187px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-27 {
    margin-top: 319px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-29 {
    margin-top: 2651px;
    margin-left: calc(((100% - 720px) / 2)  + 26px);
  }

  .u-section-2 .u-btn-30 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -2350px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-top: -173px;
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-33 {
    margin-top: 192px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-35 {
    margin-top: 274px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-37 {
    margin-top: -183px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-38 {
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }

  .u-section-2 .u-btn-39 {
    margin-top: -837px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-40 {
    margin-top: -170px;
    margin-left: calc(((100% - 720px) / 2)  + 194px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 12709px;
  }

  .u-section-2 .u-image-1 {
    height: 400px;
    margin-top: 100802px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 935px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: -101434px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 390px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -3528px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 930px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 463px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 390px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 463px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 89px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -41px;
    margin-right: 463px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 310px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 60px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 158px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-14 {
    margin-right: 464px;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -2110px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-17 {
    margin-top: 108px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-19 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-21 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-23 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-top: 2949px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 463px;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -2871px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-top: 62px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-35 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-37 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-38 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-39 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-40 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 6312px;
  }

  .u-section-2 .u-image-1 {
    height: 252px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -20px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -5524px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 162px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 207px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 119px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 104px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 267px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 86px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 138px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -222px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-top: -170px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 470px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-18 {
    margin-left: 187px;
  }

  .u-section-2 .u-btn-19 {
    margin-top: 290px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-20 {
    margin-left: 187px;
  }

  .u-section-2 .u-btn-21 {
    margin-top: 138px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-22 {
    margin-top: 86px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-23 {
    margin-top: 187px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-24 {
    margin-left: 187px;
  }

  .u-section-2 .u-btn-25 {
    margin-top: 2674px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-26 {
    margin-left: 187px;
  }

  .u-section-2 .u-btn-27 {
    margin-top: -2604px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-28 {
    margin-top: 1646px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1035px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -940px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-32 {
    margin-top: -1911px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-33 {
    margin-top: 1646px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-34 {
    margin-top: 138px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-35 {
    margin-top: 393px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-36 {
    margin-left: 187px;
  }

  .u-section-2 .u-btn-37 {
    margin-top: -324px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-38 {
    margin-left: 187px;
  }

  .u-section-2 .u-btn-39 {
    margin-top: -2448px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-40 {
    margin-left: 187px;
  }
}