.u-section-1 .u-sheet-1 {
  min-height: 108px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 0 858px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    margin-right: 678px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 4385px;
}

.u-section-2 .u-image-1 {
  height: 607px;
  margin-top: -67px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: 577px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 17px calc(((100% - 1320px) / 2)  + 122px) 0 calc(((100% - 1320px) / 2)  + 33px);
}

.u-section-2 .u-icon-1 {
  font-size: 1.625em;
}

.u-section-2 .u-icon-3 {
  font-size: 1.8126em;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: -3452px auto 0 calc(((100% - 1320px) / 2)  + 67px);
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: 89px auto 0 calc(((100% - 1320px) / 2)  + 67px);
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 131px auto 0 calc(((100% - 1320px) / 2)  + 67px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: 498px auto 0 calc(((100% - 1320px) / 2)  + 65px);
}

.u-section-2 .u-btn-8 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 259px);
}

.u-section-2 .u-btn-9 {
  background-image: none;
  margin: -479px auto 0 calc(((100% - 1320px) / 2)  + 67px);
}

.u-section-2 .u-btn-10 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-11 {
  background-image: none;
  margin: 955px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-12 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 256px);
}

.u-section-2 .u-btn-13 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 67px);
}

.u-section-2 .u-btn-14 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 256px);
}

.u-section-2 .u-btn-15 {
  background-image: none;
  margin: -1038px auto 0 calc(((100% - 1320px) / 2)  + 65px);
}

.u-section-2 .u-btn-16 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 259px);
}

.u-section-2 .u-btn-17 {
  background-image: none;
  margin: 187px auto 0 calc(((100% - 1320px) / 2)  + 65px);
}

.u-section-2 .u-btn-18 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-19 {
  background-image: none;
  margin: 165px auto 0 calc(((100% - 1320px) / 2)  + 65px);
}

.u-section-2 .u-btn-20 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 259px);
}

.u-section-2 .u-btn-21 {
  background-image: none;
  margin: 311px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-22 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 256px);
}

.u-section-2 .u-btn-23 {
  background-image: none;
  margin: -273px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-24 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 258px);
}

.u-section-2 .u-btn-25 {
  background-image: none;
  margin: 577px auto 0 calc(((100% - 1320px) / 2)  + 67px);
}

.u-section-2 .u-btn-26 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-27 {
  background-image: none;
  margin: 55px auto 0 calc(((100% - 1320px) / 2)  + 67px);
}

.u-section-2 .u-btn-28 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-29 {
  background-image: none;
  margin: 977px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-30 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-31 {
  background-image: none;
  margin: 62px auto 0 calc(((100% - 1320px) / 2)  + 64px);
}

.u-section-2 .u-btn-32 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 275px);
}

.u-section-2 .u-btn-33 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 63px);
}

.u-section-2 .u-btn-34 {
  background-image: none;
  margin: -42px auto 60px calc(((100% - 1320px) / 2)  + 275px);
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    margin-top: 63px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 9px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
    margin-right: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -2759px;
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2)  + 301px);
  }

  .u-section-2 .u-btn-3 {
    margin-top: 755px;
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2)  + 302px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 61px;
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-6 {
    margin-top: -41px;
    margin-left: calc(((100% - 1140px) / 2)  + 302px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 57px;
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-8 {
    margin-left: calc(((100% - 1140px) / 2)  + 301px);
  }

  .u-section-2 .u-btn-9 {
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 301px);
  }

  .u-section-2 .u-btn-11 {
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-12 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 301px);
  }

  .u-section-2 .u-btn-13 {
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-14 {
    margin-left: calc(((100% - 1140px) / 2)  + 302px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: -1041px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 1140px) / 2)  + 344px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 118px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 1140px) / 2)  + 96px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 164px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 1140px) / 2)  + 79px);
  }

  .u-section-2 .u-btn-21 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 1140px) / 2)  + 96px);
  }

  .u-section-2 .u-btn-23 {
    margin-top: -249px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 1140px) / 2)  + 78px);
  }

  .u-section-2 .u-btn-25 {
    margin-top: 653px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 1140px) / 2)  + 81px);
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 1140px) / 2)  + 87px);
  }

  .u-section-2 .u-btn-29 {
    margin-top: 887px;
    margin-left: calc(((100% - 1140px) / 2)  + 90px);
  }

  .u-section-2 .u-btn-30 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 301px);
  }

  .u-section-2 .u-btn-31 {
    margin-top: 31px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 1140px) / 2)  + 95px);
  }

  .u-section-2 .u-btn-33 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 1140px) / 2)  + 95px);
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 754px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -597px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
    margin-right: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -2760px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 718px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-4 {
    margin-top: -41px;
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 59px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-6 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 498px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-8 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 267px;
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-10 {
    margin-top: -44px;
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-12 {
    margin-top: -42px;
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-13 {
    margin-left: calc(((100% - 940px) / 2)  + 190px);
  }

  .u-section-2 .u-btn-14 {
    margin-right: calc(((100% - 940px) / 2)  + 280px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -1122px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 940px) / 2)  + 144px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 123px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-19 {
    margin-top: 110px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-21 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-23 {
    margin-top: 8px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-25 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1449px;
    margin-left: 190px;
  }

  .u-section-2 .u-btn-30 {
    margin-left: 407px;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -1369px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 8428px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -8177px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2)  + 300px);
    margin-right: calc(((100% - 720px) / 2)  + 300px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -2913px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
    margin-left: 511px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 751px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: auto;
    margin-left: 511px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: 511px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 60px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: auto;
    margin-left: 511px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -479px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: 511px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: auto;
    margin-left: 511px;
  }

  .u-section-2 .u-btn-13 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -43px;
    margin-right: auto;
    margin-left: 510px;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -2195px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-17 {
    margin-top: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-19 {
    margin-top: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-21 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-23 {
    margin-top: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-top: 2721px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-30 {
    margin-left: 511px;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -2642px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-top: 101856px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: -101528px;
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2)  + 150px);
    margin-left: calc(((100% - 540px) / 2)  + 390px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: -3528px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 930px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 87px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 89px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -41px;
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 310px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 60px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 158px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -42px;
    margin-right: 464px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-15 {
    margin-top: -2110px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-17 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-19 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-21 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-23 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-top: 2949px;
    margin-left: 390px;
  }

  .u-section-2 .u-btn-30 {
    margin-top: -42px;
    margin-right: 463px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -2871px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 1399px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -985px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -4474px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-3 {
    margin-top: 1187px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-5 {
    margin-top: 81px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-7 {
    margin-top: 117px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -42px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-9 {
    margin-top: 139px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-11 {
    margin-top: 263px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-13 {
    margin-top: 240px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-14 {
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-15 {
    margin-top: -541px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-17 {
    margin-top: 512px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-19 {
    margin-top: 133px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-21 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-23 {
    margin-top: -15px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-top: 1448px;
    margin-left: 440px;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 454px;
  }

  .u-section-2 .u-btn-31 {
    margin-top: -1369px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-32 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 340px) / 2));
  }
}