 .u-section-1 {
  min-height: 2303px;
}

.u-section-1 .u-text-1 {
  margin: 1027px calc(((100% - 1140px) / 2) + 512px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-image-1 {
  height: 389px;
  margin-top: -1167px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 577px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 24px calc(((100% - 1140px) / 2) + 612px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-4 {
  margin: 9px calc(((100% - 1140px) / 2) + 195px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 6px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 35px calc(((100% - 1140px) / 2) + 185px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-6 {
  margin: 10px calc(((100% - 1140px) / 2) + 58px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 38px 235px 0 70px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 134px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 72px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 42px calc(((100% - 1140px) / 2) + 185px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-9 {
  margin: 26px calc(((100% - 1140px) / 2) + 612px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-10 {
  margin: 9px calc(((100% - 1140px) / 2) + 407px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -223px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 134px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -212px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  margin: 210px calc(((100% - 1140px) / 2) + 167px) 0 calc(((100% - 1140px) / 2) + 38px);
}

.u-section-1 .u-text-12 {
  margin: 71px calc(((100% - 1140px) / 2) + 195px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-13 {
  margin: -374px calc(((100% - 1140px) / 2) + 494px) 0 calc(((100% - 1140px) / 2) + 38px);
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 210px auto 0 calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -39px auto 0 calc(((100% - 1140px) / 2) + 191px);
  padding: 6px 15px 6px 14px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 106px auto 3px calc(((100% - 1140px) / 2) + 20px);
  padding: 6px 15px 6px 14px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2304px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1052px;
    margin-right: calc(((100% - 940px) / 2) + 332px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: -1192px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 432px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 15px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: 31px;
    margin-right: calc(((100% - 940px) / 2) + 5px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 63px;
    margin-right: calc(((100% - 940px) / 2) + 55px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 136px;
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: -40px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 5px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 432px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 227px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 5px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2) + 15px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + 332px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-left: calc(((100% - 940px) / 2) + 169px);
  }

  .u-section-1 .u-btn-14 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2358px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1081px;
    margin-right: calc(((100% - 720px) / 2) + 112px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: -1221px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 212px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 134px;
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: -39px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 212px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2) + 7px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-left: calc(((100% - 720px) / 2) + 172px);
  }

  .u-section-1 .u-text-11 {
    margin-top: 211px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-12 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -412px;
    margin-right: calc(((100% - 720px) / 2) + 112px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-top: 248px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-left: calc(((100% - 720px) / 2) + 169px);
  }

  .u-section-1 .u-btn-14 {
    margin-bottom: 0;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2680px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: -1279px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 32px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: 29px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-top: 12px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-top: 61px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 189px;
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -36px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 32px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-top: -278px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-top: 189px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-11 {
    margin-top: -267px;
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 266px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 111px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -588px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 343px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 540px) / 2) + 148px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 152px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3051px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1159px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-top: -1471px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 249px;
    margin-right: calc(((100% - 340px) / 2) + -16px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: -39px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-1 .u-btn-7 {
    margin-top: 130px;
    margin-right: calc(((100% - 340px) / 2) + -16px);
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-top: -360px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-1 .u-btn-10 {
    margin-top: 271px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-1 .u-btn-11 {
    margin-top: -350px;
    margin-right: calc(((100% - 340px) / 2) + -16px);
  }

  .u-section-1 .u-text-11 {
    width: 340px;
    margin-top: 329px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 130px;
    margin-right: calc(((100% - 340px) / 2) + -39px);
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-1 .u-text-13 {
    margin-top: -658px;
    margin-right: calc(((100% - 340px) / 2) + -16px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-12 {
    margin-top: 415px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }

  .u-section-1 .u-btn-13 {
    margin-right: calc(((100% - 340px) / 2) + -16px);
  }

  .u-section-1 .u-btn-14 {
    margin-top: 156px;
    margin-left: calc(((100% - 340px) / 2) + -11px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1329px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 30px 170px 0 35px;
}

.u-section-2 .u-text-2 {
  margin: 10px 281px 0 35px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -216px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -215px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-3 {
  margin: 401px 590px 0 35px;
}

.u-section-2 .u-text-4 {
  margin: 10px 170px 0 35px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -46px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -40px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -297px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: 75px auto 0 35px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-size: 0.9375rem;
  font-weight: 700;
  margin: -39px auto 0 203px;
  padding: 6px 15px 6px 14px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 198px 170px 60px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 116px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -222px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 167px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -209px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 167px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 400px;
    margin-right: 425px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -39px;
    margin-left: 175px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -298px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 175px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 175px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 5px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 175px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -241px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 175px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 384px;
    margin-right: 205px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -55px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -383px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 133px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 226px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -479px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 191px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 200px;
    margin-right: 25px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -418px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 141px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2192px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -334px;
    margin-left: -15px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: -12px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -354px;
    margin-left: -15px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: -12px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 601px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: -15px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: -12px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -558px;
    margin-left: -15px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: -12px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 192px;
    margin-left: -15px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: -12px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 342px;
  }
}