.u-section-1 .u-sheet-1 {
  min-height: 108px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 0 858px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    margin-right: 678px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 478px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 3975px;
}

.u-section-2 .u-image-1 {
  height: 523px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: 577px;
  margin: 36px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 19px calc(((100% - 1320px) / 2)  + 106px) 0 calc(((100% - 1320px) / 2)  + 49px);
}

.u-section-2 .u-icon-1 {
  font-size: 1.625em;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.8126em;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin: -2763px auto 0 calc(((100% - 1320px) / 2)  + 50px);
}

.u-section-2 .u-btn-4 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-5 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 50px);
}

.u-section-2 .u-btn-6 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-7 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 50px);
}

.u-section-2 .u-btn-8 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-9 {
  background-image: none;
  margin: 115px auto 0 calc(((100% - 1320px) / 2)  + 50px);
}

.u-section-2 .u-btn-10 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-11 {
  background-image: none;
  margin: 60px auto 0 calc(((100% - 1320px) / 2)  + 50px);
}

.u-section-2 .u-btn-12 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-13 {
  background-image: none;
  margin: 60px auto 0 calc(((100% - 1320px) / 2)  + 50px);
}

.u-section-2 .u-btn-14 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-15 {
  background-image: none;
  margin: 162px auto 0 calc(((100% - 1320px) / 2)  + 49px);
}

.u-section-2 .u-btn-16 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-17 {
  background-image: none;
  margin: 60px auto 0 calc(((100% - 1320px) / 2)  + 50px);
}

.u-section-2 .u-btn-18 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-19 {
  background-image: none;
  margin: 58px auto 0 calc(((100% - 1320px) / 2)  + 49px);
}

.u-section-2 .u-btn-20 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 260px);
}

.u-section-2 .u-btn-21 {
  background-image: none;
  margin: 262px auto 0 calc(((100% - 1320px) / 2)  + 48px);
}

.u-section-2 .u-btn-22 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 260px);
}

.u-section-2 .u-btn-23 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 49px);
}

.u-section-2 .u-btn-24 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 260px);
}

.u-section-2 .u-btn-25 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 49px);
}

.u-section-2 .u-btn-26 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 48px);
}

.u-section-2 .u-btn-27 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 261px);
}

.u-section-2 .u-btn-28 {
  background-image: none;
  margin: 951px auto 0 calc(((100% - 1320px) / 2)  + 48px);
}

.u-section-2 .u-btn-29 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 259px);
}

.u-section-2 .u-btn-30 {
  background-image: none;
  margin: 61px auto 0 calc(((100% - 1320px) / 2)  + 48px);
}

.u-section-2 .u-btn-31 {
  background-image: none;
  margin: -42px auto 0 calc(((100% - 1320px) / 2)  + 259px);
}

.u-section-2 .u-btn-32 {
  background-image: none;
  margin: -253px auto 0 calc(((100% - 1320px) / 2)  + 48px);
  padding: 1px 30px 3px;
}

.u-section-2 .u-btn-33 {
  background-image: none;
  margin: -719px auto 0 calc(((100% - 1320px) / 2)  + 50px);
  padding: 1px 30px 3px;
}

.u-section-2 .u-btn-34 {
  background-image: none;
  margin: 131px auto 0 calc(((100% - 1320px) / 2)  + 48px);
  padding: 1px 30px 3px;
}

.u-section-2 .u-btn-35 {
  background-image: none;
  margin: 124px auto 0 calc(((100% - 1320px) / 2)  + 48px);
  padding: 1px 30px 3px;
}

.u-section-2 .u-btn-36 {
  background-image: none;
  margin: 131px auto 0 calc(((100% - 1320px) / 2)  + 48px);
  padding: 1px 30px 3px;
}

.u-section-2 .u-btn-37 {
  background-image: none;
  margin: -26px auto 60px calc(((100% - 1320px) / 2)  + 209px);
  padding: 1px 30px 3px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -2759px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-5 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-7 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-8 {
    margin-top: -44px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 117px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-top: -44px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: 62px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-top: -44px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: 62px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-14 {
    margin-top: -44px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: 163px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 61px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-top: -41px;
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 57px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-21 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-23 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 1140px) / 2)  + 212px);
  }

  .u-section-2 .u-btn-28 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-30 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-31 {
    margin-top: -43px;
    margin-left: calc(((100% - 1140px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-32 {
    margin-top: -254px;
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-35 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-btn-37 {
    margin-left: calc(((100% - 1140px) / 2)  + 169px);
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -2760px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 51px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-7 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-8 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-9 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-top: -41px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: 58px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: 54px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-14 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: 165px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-top: -41px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 59px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 58px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-21 {
    margin-top: 267px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-top: -44px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-23 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-top: -42px;
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-28 {
    margin-top: 962px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-30 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-31 {
    margin-left: calc(((100% - 940px) / 2)  + 217px);
  }

  .u-section-2 .u-btn-32 {
    margin-top: -259px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-top: -743px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-top: 148px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-35 {
    margin-top: 131px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-37 {
    margin-left: calc(((100% - 940px) / 2)  + 171px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-3 {
    margin-top: -2913px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 57px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 68px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-8 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 133px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-11 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-top: -44px;
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: 55px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-14 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: 167px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-17 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-top: -42px;
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-21 {
    margin-top: 262px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-top: -42px;
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-23 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-25 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-top: -43px;
    margin-left: calc(((100% - 720px) / 2)  + 210px);
  }

  .u-section-2 .u-btn-28 {
    margin-top: 1061px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-30 {
    margin-top: 83px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-31 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-btn-32 {
    margin-top: -276px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-top: -821px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-top: 177px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-35 {
    margin-top: 133px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-top: 145px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-37 {
    margin-left: calc(((100% - 720px) / 2)  + 170px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 4679px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-3 {
    margin-top: -3528px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 82px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2)  + 74px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 112px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-8 {
    margin-right: calc(((100% - 540px) / 2)  + 74px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 191px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-10 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 62px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-12 {
    margin-top: -42px;
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-13 {
    margin-top: 87px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-14 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-15 {
    margin-top: 181px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-16 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 87px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-18 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-19 {
    margin-top: 89px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-20 {
    margin-top: -41px;
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-21 {
    margin-top: 310px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-22 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-23 {
    margin-top: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-24 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-25 {
    margin-top: 55px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-26 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-27 {
    margin-top: -42px;
    margin-right: calc(((100% - 540px) / 2)  + 74px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-28 {
    margin-top: 1351px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-29 {
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-30 {
    margin-top: 106px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-31 {
    margin-top: -42px;
    margin-right: calc(((100% - 540px) / 2)  + 73px);
    margin-left: auto;
  }

  .u-section-2 .u-btn-32 {
    margin-top: -330px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-33 {
    margin-top: -1025px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-top: 202px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-35 {
    margin-top: 176px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-top: 183px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-37 {
    margin-right: calc(((100% - 540px) / 2)  + 116px);
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 5695px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -4474px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-5 {
    margin-top: 107px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-7 {
    margin-top: 159px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-9 {
    margin-top: 277px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-11 {
    margin-top: 81px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-13 {
    margin-top: 139px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-top: -43px;
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-15 {
    margin-top: 214px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-top: -42px;
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-17 {
    margin-top: 81px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-18 {
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-19 {
    margin-top: 117px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-20 {
    margin-top: -42px;
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-21 {
    margin-top: 139px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-22 {
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-23 {
    margin-top: 263px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-24 {
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-25 {
    margin-top: 81px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-26 {
    margin-top: 117px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-27 {
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-28 {
    margin-top: 1852px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-29 {
    margin-top: -42px;
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-30 {
    margin-top: 139px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-31 {
    margin-right: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-2 .u-btn-32 {
    margin-top: -439px;
    margin-left: calc(((100% - 340px) / 2));
    padding-right: 6px;
    padding-left: 4px;
  }

  .u-section-2 .u-btn-33 {
    margin-top: -1306px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-34 {
    margin-top: 307px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-35 {
    margin-top: 229px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-36 {
    margin-top: 228px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-37 {
    margin-right: calc(((100% - 340px) / 2)  + -22px);
    padding-right: 17px;
    padding-left: 15px;
  }
}